@media screen and (max-width: 400px) {
  h1{
    font-size: 1.75em;
  }
  h2 {
    font-size: 1.5em;
  }
}

.desc {
  font-style: italic;
  border-bottom: 2px solid lightgrey;
  padding-bottom: .75em;

}

.article-header {
  padding: 0 .7em;
}
